.lastMatchContainer {
    width: 100%;
    height: 750px;
    position: relative;

    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 2;
    }

    &:after {
        content: '';
        background-color: rgba(#000, 0.55);
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block
    }

    .inner {
        position: relative;
        z-index: 4;
        padding: $large-value 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: auto;
        height: 90%;
        align-items: center;
        
        .lastMatchInfos {
            font-family: $ff-title;
            h2 {
                color: #fff;
                text-align: center;
                font-size: 16px;
            }

            .lastMatchContent {
                display: flex;
                align-items: center;
                img {
                    max-height: 130px;
                    width: 130px;
                    object-fit: contain;
                }

                .lastMatchResult {
                    
                    .score {
                        margin: 0 $large-value;
                        font-size: 70px;
                        line-height: 1;
                        color: #fff;
                        text-align: center;
                        font-family: $ff-title;

                        .score_separator {
                            font-size: 70px;
                            margin: 0 $small-value;
                        }
                    }
                }
            }

            .matchHashtag {
                color: #fff;
                display: block;
                text-transform: uppercase;
                text-align: center;
                font-size: 18px;
                font-family: $ff-title;
            }
        }

        .lastMatchButtons {
            display: flex;
            margin-top: $large-value;

            .button {
                margin-right: $large-value;
                border-radius: 0;
                color: #fff;
                border: 1px solid #fff;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: #fff;
                    color: $body-color;
                }
            }
        }
    }
}